<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <title>sb-marketing</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <header id="app" class="menu">
      <!-- LOGO -->
      <div class="logo">
        <a href="#">
          <img :src="'img/' + logo" alt="Logo">
        </a>
      </div>
      <!-- LIST MENU -->
      <div class="list-item">
        <ul>
          <a v-for="list in menu" href="#">
            <li>{{ list }}</li>
          </a>
        </ul>
        <i :class="search"></i>
        <i :class="cart"></i>
        <button type="button" name="button">{{ button }}</button>
      </div>
    </header>
    <!-- SECTION PLATFORM -->
    <section class="section-platform">
      <div class="sez-left">
        <h1>The Biggest platform for your growth.</h1>
        <p>There are many variations of passages of Lorem Ipsum available,<br>but the majority have suffered alteration in some form</p>
        <button type="button" name="button">Read More</button>
      </div>
      <img src="img/27-1.png" alt="Jumbotron">
    </section>
    <!-- SECTION MARKETING -->
    <section class="section-marketing">
      <!-- 1° block -->
      <div class="block">
        <div class="pc-logo">
          <img src="img/24.png" alt="">
        </div>
        <div class="caption">
          <h1>Online Marketing</h1>
          <h3>It is a long established fact that a reader will be destracted.</h3>
          <ul>
            <li>
              <i class="fas fa-check"></i>
              SEO
            </li>
            <li>
              <i class="fas fa-check"></i>
              SEM
            </li>
            <li>
              <i class="fas fa-check"></i>
              Website Strategy
            </li>
            <li>
              <i class="fas fa-check"></i>
              Social Management
            </li>
          </ul>
        </div>
      </div>
      <!-- 2° block -->
      <div class="block">
        <div class="pc-logo">
          <img src="img/24.png" alt="">
        </div>
        <div class="caption">
          <h1>Online Marketing</h1>
          <h3>It is a long established fact that a reader will be destracted.</h3>
          <ul>
            <li>
              <i class="fas fa-check"></i>
              SEO
            </li>
            <li>
              <i class="fas fa-check"></i>
              SEM
            </li>
            <li>
              <i class="fas fa-check"></i>
              Website Strategy
            </li>
            <li>
              <i class="fas fa-check"></i>
              Social Management
            </li>
          </ul>
        </div>
      </div>
      <!-- 3° block -->
      <div class="block">
        <div class="pc-logo">
          <img src="img/24.png" alt="">
        </div>
        <div class="caption">
          <h1>Online Marketing</h1>
          <h3>It is a long established fact that a reader will be destracted.</h3>
          <ul>
            <li>
              <i class="fas fa-check"></i>
              SEO
            </li>
            <li>
              <i class="fas fa-check"></i>
              SEM
            </li>
            <li>
              <i class="fas fa-check"></i>
              Website Strategy
            </li>
            <li>
              <i class="fas fa-check"></i>
              Social Management
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- SECTION ANALITYCS -->
    <section class="section-analytics">
      <div class="caption-analysis">
        <h1>Get tips tricks on how to skyrocket your sales</h1>
        <h3>Faff about only a quid blower I don't want no agro bleeding chimney pot burke tosser cras nice one boot fanny.!</h3>
        <div class="report-analysis">
          <div class="img-report">
            <img src="img/510.png" alt="">
          </div>
          <div class="caption-right">
            <h2>Reporting Analysis</h2>
            <h3>It is a long established fact that a reader will be distracted<br>by the readable content of a page when looking at its<br>layout.</h3>
          </div>
        </div>
        <div class="report-analysis">
          <div class="img-report">
            <img src="img/511.png" alt="">
          </div>
          <div class="caption-right">
            <h2>Technical SEO Audit</h2>
            <h3>It is a long established fact that a reader will be distracted<br>by the readable content of a page when looking at its<br>layout.</h3>
          </div>
        </div>
      </div>
      <div class="image-analytics">
        <img src="img/509.jpeg" alt="">
      </div>
    </section>
    <!-- SECTION POPULAR -->
    <section class="section-popular">
      <img src="img/14.png" alt="">
      <div class="caption-popular">
        <h1>Popular features that your business needs</h1>
        <h3>Faff about only a quid blower I don't want no agro bleeding chimney<br>pot burke tosser cras nice one boot fanny.!</h3>
      </div>
      <div class="pop-button">
        <button type="button" name="button">Explore More Feature</button>
      </div>
      <div class="container-business">
        <div class="item-business">
          <h3>Customized Invoices</h3>
          <img src="" alt="">
        </div>
        <div class="item-business">
          <h3>Stock Management</h3>
          <img src="" alt="">
        </div>
        <div class="item-business">
          <h3>Receivable & Payables</h3>
          <img src="" alt="">
        </div>
        <div class="item-business">
          <h3>Manage Buying</h3>
          <img src="" alt="">
        </div>
        <div class="item-business">
          <h3>Powerful & Secure</h3>
          <img src="" alt="">
        </div>
        <div class="item-business">
          <h3>Fastest Return Filing</h3>
          <img src="" alt="">
        </div>
        <div class="item-business">
          <h3>Monthly Detailed</h3>
          <img src="" alt="">
        </div>
        <div class="item-business">
          <h3>Product Management</h3>
          <img src="" alt="">
        </div>
      </div>
    </section>
    <!-- SECTION TESTIMONIALS -->
    <section class="section-testimonials">
      <div class="container-testimonials">
        <h2>Our Testimonials</h2>
        <h3>If you are planning in developing a product landing app or website,<br>take a look at this beatiful-crafted</h3>
        <div class="testimonial">
          <i class="fas fa-quote-right"></i>
          <img src="img/26.jpeg" alt="">
          <h3>Julia Aann
            <span>- COO Softbox</span>
          </h3>
          <p>At vero et accusamus et iusto odio dignissimos<br>ducimus qui blanditiis praesentium vero eos et consectetur<br>accus adip adip.</p>
        </div>
        <div class="testimonial">
          <i class="fas fa-quote-right"></i>
          <img src="img/27.jpeg" alt="">
          <h3>Mac Zdner
            <span>- Manager Sofbox</span>
          </h3>
          <p>At vero et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium vero eos et consectetur accus adip adip.</p>
        </div>
        <div class="circle">
          <i class="fas fa-circle"></i>
          <i class="fas fa-circle"></i>
        </div>
      </div>
    </section>
    <!-- SECTION POSTS -->
    <section class="section-posts">
      <h1>Lastes Posts</h1>
      <h3>If you are planning on developing a product landing.</h3>
      <div class="item-posts">
        <img src="img/19.jpg" alt="">
        <h2>Life Lack Meaning</h2>
        <p>It is a long established fact that a<br>reader will be destracted by the<br>readable.</p>
      </div>
      <div class="item-posts">
        <img src="img/18.jpg" alt="">
        <h2>Life Lack Meaning</h2>
        <p>It is a long established fact that a<br>reader will be destracted by the<br>readable.</p>
      </div>
      <div class="item-posts">
        <img src="img/17.jpg" alt="">
        <h2>Life Lack Meaning</h2>
        <p>It is a long established fact that a<br>reader will be destracted by the<br>readable.</p>
      </div>
    </section>
    <!-- SECTION CONTACT -->
    <section class="section-contact">
      <h1>Contact with our team</h1>
      <h4>If you are planning on developing a product landing.</h4>
      <div class="map-contacts">
        <img src="img/StaticMapService.GetMapIma.png" alt="">
      </div>
      <div class="info-contacts">
        <img src="img/35.png" alt="Logo">
        <h2>9840 Shore St. Fond Du Lac, WI 54935</h2>
        <h4>0 1223 456 789</h4>
        <h4>mail&commat;sofbox.com</h4>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-github"></i>
        <i class="fab fa-instagram"></i>
        <h1>Get in Touch</h1>
        <form class="form-data" action="index.html" method="post">
          <input type="text" placeholder="Your Name">
          <input type="email" placeholder="Your Email">
          <input type="text" placeholder="Your Object">
          <textarea name="text" rows="10" cols="80" placeholder="Your Message"></textarea>
          <button type="button" name="button">Send Message</button>
        </form>
      </div>
    </section>
    <!-- FOOTER -->
    <footer id="root" class="footer">
      <div class="container-footer">
        <div class="copyright-footer">
          <img :src="logo" alt="Logo">
          <p>{{ paragraph }}</p>
          <span>{{ copy }} &copy; {{ year }}</span>
          <a href="#">{{ link }}</a>
        </div>
        <!-- 1° item -->
        <div class="item-footer">
          <h3>{{ menu }}</h3>
          <ul>
            <a v-for="list in itemMenu" href="#">
              <li>{{ list }}</li>
            </a>
          </ul>
        </div>
        <!-- 2° item -->
        <div class="item-footer">
          <h3>{{ aboutUS }}</h3>
          <ul>
            <a v-for="list in itemAbout" href="#">
              <li>{{ list }}</li>
            </a>
          </ul>
        </div>
        <!-- 3° item -->
        <div class="item-footer">
          <h3>{{ quick }}</h3>
          <ul>
            <a v-for="list in itemQuick" href="#">
              <li>{{ list }}</li>
            </a>
          </ul>
        </div>
      </div>
    </footer>
    <script src="js/script.js"></script>
  </body>
</html>
