/* DEFAULT RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}


/* -------- */
/* NAVBAR RULES */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0px auto;
  padding: 10px;
  height: 100px;
  border: 1px solid black;
}

.menu img {
  width: 50px;
}

/* LIST MENU RULES */
.list-item {
  display: flex;
  align-items: center;
  width: 52%;
  height: 100%;
  border: 1px solid lightblue;
}

.list-item > ul > a {
  margin-right: 12px;
  color: #1E1E1E;
}

.list-item > ul > a > li {
  display: inline-block;
}

.list-item > i {
  font-size: 18px;
  margin-right: 20px;
  color: #1E1E1E;
}

.list-item > i:nth-last-child(3) {
  margin-left: 40px;
}

.list-item > button {
  margin-left: 20px;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  width: 90px;
  height: 35px;
  background: #377DFF;
  cursor: pointer;
}


/* -------- */
/* SECTION PLATFORM RULES */
.section-platform {
  width: 80%;
  height: 450px;
  margin: 20px auto 55px auto;
  background-color: #F2F7FF;
  border-radius: 8px;
}

.sez-left {
  float: left;
  width: 40%;
  height: 100%;
  padding: 50px;
  border: 1px solid black;
}

.sez-left h1 {
  color: #1E1E1E;
  font-size: 50px;
  margin-bottom: 20px;
}

.sez-left p {
  color: #8E989F;
  font-size: 18px;
  margin-bottom: 30px;
}

.sez-left button {
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  width: 100px;
  height: 36px;
  background: #377DFF;
  cursor: pointer;
}

.section-platform img {
  float: right;
  margin-right: 50px;
  margin-top: 35px;
}


/* -------- */
/* SECTION MARKETING RULES */
.section-marketing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0px auto;
  height: 425px;
  border: 1px solid black;
}

.block {
  display: flex;
  width: calc((100% / 3) - 40px);
  margin: 0px 20px;
  height: 350px;
  border: 1px solid black;
}

.pc-logo img {
  width: 70px;
}

.caption {
  margin-left: 20px;
}

.caption h1 {
  color: #1E1E1E;
  margin-bottom: 10px;
}

.caption h3 {
  color: #8E989F;
  margin-bottom: 30px;
}

.caption i {
  color: #377DFF;
  margin-right: 10px;
}

.caption li {
  margin-bottom: 15px;
}


/* -------- */
/* SECTION ANALITYCS RULES */
.section-analytics {
  display: flex;
  width: 60%;
  margin: 70px auto 100px auto;
  height: 525px;
  border: 1px solid black;
}

.caption-analysis {
  width: 50%;
  height: 100%;
  border: 1px solid black;
}

.caption-analysis h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.caption-analysis h3 {
  margin-bottom: 35px;
}

.report-analysis {
  display: flex;
  width: 100%;
  height: 170px;
  border: 1px solid black;
}

.img-report {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.img-report img {
  width: 70px;
}

.caption-right {
  padding: 20px 0px;
  border: 1px solid black;
}

.caption-right h2 {
  margin-bottom: 15px;
}

/* -------- */
/* SECTION POPULAR RULES */
.section-popular {
  position: relative;
  width: 60%;
  margin: 0px auto 50px auto;
  height: 490px;
  border: 1px solid black;
}

.section-popular img {
  width: 580px;
  position: absolute;
  top: -18%;
  left: -52%;
}

.caption-popular {
  float: left;
  width: 70%;
  height: 150px;
  border: 1px solid black;
}

.section-popular h1 {
  margin: 35px 0px 20px 0px;
}

.pop-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 150px;
}

.pop-button button {
  vertical-align: bottom;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  width: 150px;
  height: 40px;
  background: #377DFF;
  cursor: pointer;
}

.container-business {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 150px);
  border: 1px solid black;
}

.item-business {
  width: calc((100% / 4) - 30px);
  height: calc((100% / 2) - 30px);
  padding: 20px;
  border: 1px solid black;
}


/* -------- */
/*  */
